<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="cn.ngame.store">

    <uses-sdk
        android:maxSdkVersion="23"
        android:minSdkVersion="19"
        android:targetSdkVersion="23"/>

    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 允许获取网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 读写存储权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 允许挂载和反挂载文件系统可移动存储卡权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!-- 蓝牙操作权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!--监听APP安装与卸载权限-->
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- 百度推送权限 start -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.cn.ngame.store"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <permission
        android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.cn.ngame.store"
        android:protectionLevel="normal"></permission>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- 百度推送权限 end -->

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false"/>

    <application
        android:name=".StoreApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".base.activity.BeginActivity"
            android:theme="@style/AppTheme_NoActionBar_Fullscreen"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".base.activity.GuideViewActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".base.activity.WelcomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name=".activity.PadToolActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name=".search.view.SearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".user.view.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".user.view.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".user.view.FindPwdActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".user.view.ChangePwdActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".game.view.GameDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.hub.HubItemActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".activity.ReviewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".activity.ReviewListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name=".base.activity.AboutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".base.activity.FeedbackActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".base.activity.DisclaimerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".activity.sm.SystemSettingsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name=".user.view.UserCenterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".activity.VRVideoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".game.view.GameClassifyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".game.view.VRGameActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".game.view.CPGameActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".game.view.LabelsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".game.view.GameRecommendActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".game.view.SeeMoreActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name=".video.view.VideoDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name=".video.view.VideoRecommendActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name=".video.view.VideoPlayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name=".video.view.VideoPlay3DActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name=".video.view.VideoMediaPlayerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            />

        <activity
            android:name=".ota.view.OtaActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name=".ota.view.OtaHelpActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name=".local.view.MyGameActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name=".local.view.WatchHistoryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name=".push.view.MsgCenterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name=".push.view.MessageDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name=".push.view.NotifyMsgDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name=".gamehub.view.ReportActivity"
            />
        <activity
            android:name=".gamehub.view.PostMsgActivity"
            />
        <activity
            android:name=".gamehub.view.SubmitGameActivity"
            />
        <activity
            android:name=".gamehub.view.StrategyActivity"
            />
        <activity
            android:name=".gamehub.view.VoteActivity"
            />
        <activity
            android:name=".gamehub.view.ChooseModuleActivity"
            />
        <activity
            android:name=".gamehub.view.ChooseGameActivity"
            />
        <activity
            android:name=".gamehub.view.NoticeActivity"
            />
        <activity
            android:name=".gamehub.view.ShowViewActivity"
            />
        <activity
            android:name=".gamehub.view.SearchPostActivity"
            />
        <activity
            android:name=".base.activity.AdvertisingPageActivity"
            />
        <activity
            android:name=".gamehub.view.MsgDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".widget.mulpicture.MulPictureActivity"
            />

        <activity
            android:name=".activity.main.MainHomeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />

        <activity
            android:name=".activity.hub.HubPostsActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.rank.RankActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.hub.CircleActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.main.VRActivity"
            />
        <activity
            android:name=".activity.main.TopicsListActivity"
            />
        <activity
            android:name=".activity.main.TopicsDetailActivity"
            />
        <activity
            android:name=".activity.manager.DownloadCenterActivity"
            />
        <activity
            android:name=".activity.manager.FeedbackSucceedActivity"
            />
        <activity
            android:name=".activity.manager.HelpAndFeedbackActivity"
            />
        <activity
            android:name=".activity.manager.QuestionListActivity"
            />
        <activity
            android:name=".activity.manager.QuestionDetailActivity"
            />
        <activity
            android:name=".activity.manager.SystemInfoActivity"
            />
        <activity
            android:name=".activity.sm.JoypadSettingsActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar"
            />
        <activity
            android:name=".activity.sm.SupportedJoypadListActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar"
            />
        <activity
            android:name=".activity.sm.JoypadAdaptationApplyActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar"
            />
        <activity
            android:name=".activity.sm.AdCooperativeActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar"
            />
        <activity
            android:name=".activity.sm.AboutNgameZoneActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar"
            />
        <activity
            android:name=".activity.classify.AllClassifyActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar"
            />
        <!--=============================友盟==================================================================-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59474c33c62dca28fd000fe6"></meta-data>
        <!--   <meta-data
               android:name="UMENG_CHANNEL"
               android:value="${UMENG_CHANNEL_VALUE}"/>&lt;!&ndash;如果要多渠道打包&ndash;&gt;-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="ngame_test"/>

        <!--  qq完整版：-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1105610048"/>
            </intent-filter>

        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"

            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!--新浪-->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            ></activity>
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- 微信-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <service android:name=".core.fileload.FileLoadService"/>
        <service android:name=".ota.model.OtaService"/>

        <receiver android:name=".receiver.NetStatusReceiver">
            <intent-filter>
                <!-- 监听网络变动事件 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- 监听APP安装与卸载 -->
        <receiver
            android:name=".receiver.InstallStatusReceiver"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <!-- baidu push service start -->
        <!-- 此处Receiver名字修改为当前包名路径 -->
        <receiver android:name=".receiver.PushMsgReceiver">
            <intent-filter>
                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE"/>
                <!-- 接收bind、setTags等method的返回结果-->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE"/>
                <!-- 接收通知点击事件，和通知自定义内容 -->
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK"/>
            </intent-filter>
        </receiver>

        <!-- 用于接收系统消息以保证PushService正常运行 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW"/>
                <action android:name="com.baidu.android.pushservice.action.media.CLICK"/>
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <!-- Push服务接收客户端发送的各种请求-->
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD"/>
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE"/>
            </intent-filter>
        </service>
        <!-- 4.4版本新增的CommandService声明，提升小米和魅族手机上的实际推送到达率 -->
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true"/>

        <!-- 适配Android N系统必需的ContentProvider声明，写权限包含应用包名-->
        <provider
            android:name="com.baidu.android.pushservice.PushInfoProvider"
            android:authorities="cn.ngame.store.bdpush"
            android:exported="true"
            android:protectionLevel="signature"
            android:writePermission="baidu.push.permission.WRITE_PUSHINFOPROVIDER.cn.ngame.store"/>
        <!-- baidu push结束 -->

        <!--android 7.0 适配-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.ngame.store.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>